.container{
    width: 1200px;
    margin: auto;
}
/*topbar*/
.topbar{
    position: relative;
    z-index: 30;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
}
.topbar a{
    color: #b0b0b0;
}
.topbar a:hover{
    color: #ffffff;
}
.topbar .topleft{
    float: left;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.topbar .sep{
    margin: 0 .5em;
    color: #424242;
}
.topbar .topright{
    position: relative;
    float: right;
    width: 120px;
    height: 40px;
    margin-left: 15px;
    text-align: center;
    line-height: 40px;
    background: #424242;
}
.topbar .topright a i{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background: url("../images/shopCar.png") no-repeat;
    background-size: 20px 20px;
    vertical-align: -4px;
}
.topbar .topright .shopCar{
    display: none;
    position: absolute;
    right: 0;
    right: -1px \9;
    top: 40px;
    z-index: 31;
    width: 316px;
    height: 80px;
    line-height: 50px;
    padding: 15px 0 0;
    color: #424242;
    background: #fff;
    border: 1px solid #e0e0e0 \9;
    border-top: 0 \9;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}
.topbar .topright:hover{
    background: #ffffff;
}
.topbar .topright:hover a{
    color: #ff6900;
}
.topbar .topright:hover .shopCar{
    display: block;
}
.topbar .topcenter{
    position: relative;
    float: right;
    height: 40px;
    line-height: 40px;
}
/*header*/
.header{
    position: relative;
    z-index: 20;
    height: 100px;
}
.header-center{
    height: 100px;
}
.header-logo{
    float: left;
    width: 55px;
    height: 55px;
    margin-top: 22px;
    background: url(../images/mi-logo.png) no-repeat 50% 50%;
    background-size: 55px 55px;
    background-color: #ff6900;
    opacity: 1;
    filter: alpha(opacity=100)\9;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    cursor: pointer;
}
.header .header-nav{
    float: left;
    width: 850px;
}
.header .nav-list{
    position: relative;
    z-index: 10;
    float: left;
    width: 820px;
    height: 88px;
    margin: 0;
    padding: 12px 0 0 30px;
    list-style-type: none;
    font-size: 16px;
}
.header .nav-logo{
    position: relative;
    float: left;
    width: 167px;
    padding: 5px 10px 0 0;
}
.header .nav-item2,
.header .nav-item {
    float: left;
}
.header .nav-list .link{
    display: block;
    padding: 26px 10px 38px;
    color: #333;
}
.header .nav-item:hover a{
    color: #ff6900;
}
.header .header-search {
    position: relative;
    float: right;
    width: 280px;
    margin-top: 25px;
    padding-right: 15px;
}
.header .header-search form{
    position: relative;
    width: 296px;
    height: 50px;
}
.header .header-search .search-text{
    position: absolute;
    top: 0;
    right: 52px;
    z-index: 1;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 48px;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.header .header-search .search-btn{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 52px;
    height: 48px;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: #fff;
    color: #616161;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    background: url("../images/Magnifier.png")no-repeat center center;
    background-size: 24px 24px;
    cursor: pointer;
}
.header .header-search .search-btn:hover{
    background: #ff6900 url("../images/MagnifierBg.png")no-repeat center center;
    background-size: 24px 24px;
}
.header .header-search .search-hot{
    position: absolute;
    top: 14px;
    right: 62px;
    z-index: 2;
    text-align: right;
}
.header .header-search .search-hot a{
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.header .header-search .search-hot a:hover{
    background: #ff6900;
    color: #fff;
}
.header .header-search .search-bot{
    position: absolute;
    left: 21px;
    top: 48px;
    z-index: 24;
    width: 221px;
    border: 1px solid #ff6700;
    border-top: 0;
    background: #fff;
    display: none;
}
.header .header-search .search-bot li{
    position: relative;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
}
.header .header-search .search-bot li .result {
    position: absolute;
    right: 15px;
    top: 6px;
    color: #b0b0b0;
}
.header .header-menu{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 229px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    z-index: 24;
    box-shadow: 0 3px 4px rgba(0,0,0,0.18);
    transition: box-shadow .2s;
    border-top: 1px solid #e0e0e0;
    background: #fff;
    display: none;
}
.header .header-menu.active{
    display: block;
}
.header .header-menu .menu-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
}
.header .header-menu .menu-list li{
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 10px 0;
    text-align: center;
}
.header .header-menu .menu-list li:before {
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 1;
    width: 1px;
    height: 100px;
    content: "";
    background-color: #e0e0e0;
}
.header .header-menu .menu-list .first:before {
    display: none;
}
.header .header-menu .figure-thumb{
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
}
.header .header-menu .figure-thumb a {
    display: block;
}
.header .header-menu .figure-thumb img {
    width: 160px;
    height: 110px;
}
.header .header-menu .title,
.header .header-menu .title a {
    color: #333;
}
.header .header-menu .price {
    margin: 0;
    line-height: 20px;
    color: #ff6700;
}
.header .header-menu .flags{
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.header .header-menu .flag{
    display: inline-block;
    height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
}
/*contentUp*/
.contentUp{
    position: relative;
    z-index: 10;
}
.contentUp .home-hero{
    position: relative;
    margin-bottom: 26px;
    width: 100%;
    height: 636px;
}
.contentUp .home-hero .home-hero-top{
    position: relative;
    height: 460px;
    overflow: hidden;
}
.contentUp .home-hero .site-list{
    position: absolute;
    left: 0;
    top: 0;
    width: 234px;
    height: 420px;
    border: 0;
    color: #fff;
    background: #333;
    background: rgba(0,0,0,0.6);
    padding: 20px 0;
    z-index: 666;
}
.title-a{
    color: #fff;
    position: relative;
    display: block;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
}
.title-a i{
    position: absolute;
    top: 13px;
    right: 20px;
    width: 16px;
    height: 16px;
    background: url("../images/arrowR.png") no-repeat;
    background-size: 100%;
}
.title-a:hover{
    background: #ff6700;
}
.childrenW-1{
    width: 960px;
}
.childrenW-2{
    width: 720px;
}
.childrenW-3{
    width: 480px;
}
.childrenW-4{
    width: 240px;
}
.contentUp .home-hero .site-list .category-item:hover .children{
    display: block;
}
.contentUp .home-hero .site-list .children{
    display: none;
    position: absolute;
    left: 234px;
    top: 0;
    z-index: 24;
    height: 458px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    -webkit-box-shadow: 0 8px 16px rgba(0,0,0,0.18);
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
}
.site-list .children .children-list{
    height: 458px;
    margin: 0;
    padding: 2px 0;
    float: left;
    width: 240px;
}
.site-list .children .children-list li{
    position: relative;
    float: left;
    width: 265px;
    height: 76px;
}
.site-list .children .children-list li a{
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    -webkit-transition: color .2s;
    transition: color .2s;
}
.site-list .children .children-list li a:hover{
    color: #ff6700;
}
.site-list .children .children-list li img{
    width: 40px;
    height: 40px;
    margin-right: 12px;
    vertical-align: middle;
}
.site-list .category-item-active .children{
    display: block;
}
.home-hero-top .sowingMap .sowingMap-xm{
    width: 100%;
    height: 460px;
}
.home-hero-top .sowingMap .sowingMap-xm img{
    float: none;
    width: 100%;
    height: 460px;
}
.home-hero-top .sowingMap ul{
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 100px;
    height: 15px;
    z-index: 24;
}
.home-hero-top .sowingMap ul li{
    float: left;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    overflow: hidden;
    background: #f5f5f5;
    background: rgba(0,0,0,0.2);
    transition: all .2s;
    cursor: pointer;
}
.home-hero-top .sowingMap ul .selected{
    background: #fff;
}
.home-hero-top .sowingMap .sowingMap-L{
    position: absolute;
    top:50%;
    margin-top: -34px;
    left: 234px;
    width: 41px;
    height: 69px;
    background: url("../images/icon-slides.png")no-repeat;
    background-position: -83px 0;
}
.home-hero-top .sowingMap .sowingMap-R{
    position: absolute;
    top:50%;
    margin-top: -34px;
    right: 0;
    width: 41px;
    height: 69px;
    background: url("../images/icon-slides.png")no-repeat;
    background-position: -124px 0;
}
.home-hero-top .sowingMap .sowingMap-L:hover{
    background: url("../images/icon-slides.png")no-repeat;
    background-position: 0 0;
}
.home-hero-top .sowingMap .sowingMap-R:hover{
    background: url("../images/icon-slides.png")no-repeat;
    background-position: -42px 0;
}
.contentUp .home-hero .home-hero-down{
    margin-top: 14px;
}
.span6{
    float: left;
    width: 234px;
}
.home-channel-list{
    width: 228px;
    height: 170px;
    margin: 0;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
}
.home-channel-list li{
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}
.home-channel-list a:hover{
    color: #fff;
}
.home-channel-list li:before {
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
}
.home-channel-list li:after {
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
}
.home-channel-list li:before, .home-channel-list li:after {
    position: absolute;
    content: "";
    background: #665e57;
}
.home-channel-list li a{
    font-size: 13px;
    color: #b0b0b0;
    display: block;
    padding-top: 18px;
    overflow: hidden;
    _zoom: 1;
    color: rgba(255,255,255,0.7);
    transition: color .2s;
}
.home-channel-list .i-phone{
    display: block;
    width: 70px;
    height: 24px;
    background: url("../images/phone.png")no-repeat center;
    background-size: 24px 24px;
}
.home-channel-list .i-gift{
    display: block;
    width: 70px;
    height: 24px;
    background: url("../images/gift.png")no-repeat center;
    background-size: 24px 24px;
}
.home-channel-list .i-fM{
    display: block;
    width: 70px;
    height: 24px;
    background: url("../images/fM.png")no-repeat center;
    background-size: 24px 24px;
}
.home-channel-list .i-SIM{
    display: block;
    width: 70px;
    height: 24px;
    background: url("../images/SIM.png")no-repeat center;
    background-size: 24px 24px;
}
.home-channel-list .i-old{
    display: block;
    width: 70px;
    height: 24px;
    background: url("../images/old.png")no-repeat center;
    background-size: 24px 24px;
}
.home-channel-list .i-moneyK{
    display: block;
    width: 70px;
    height: 24px;
    background: url("../images/moneyK.png")no-repeat center;
    background-size: 24px 24px;
}
.span3{
    width: 966px;
    height: 176px;
    float: left;
}
.span3 ul li{
    float: left;
    width: 310px;
    height: 176px;
    margin-left: 12px;
    transition: box-shadow .2s linear;
}
.span3 ul li:hover{
    box-shadow: 2px 10px 10px 0 #cccccc;
}
.span3 ul li a img{
    width: 310px;
    height: 176px;
}
.contentUp .plain-box .box-hd{
    position: relative;
    width: 100%;
    height: 58px;
}
.contentUp .plain-box .box-hd .title{
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.contentUp .plain-box .box-hd .more{
    position: absolute;
    top: 24px;
    right: 0;
}
.contentUp .plain-box .box-hd .more a{
    display: inline-block;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    /* float: left; */
}
.contentUp .plain-box .box-hd .more a:nth-child(1){
    background: url("../images/arrowR.png")no-repeat center;
    background-size: 16px 16px;
    transform: rotate(180deg);
}
.contentUp .plain-box .box-hd .more a:nth-child(2){
    background: url("../images/arrowR.png")no-repeat center;
    background-size: 16px 16px;
}
.contentUp .plain-box .box-bd{
    position: relative;
    width: 100%;
    height: 380px;
    padding-bottom: 40px;
}
.contentUp .plain-box .box-bd .bd-left{
    float: left;
    _display: inline;
    width: 230px;
    height: 340px;
    margin: 0 12px 0 0;
    padding: 0;
}
.contentUp .plain-box .box-bd .bd-left li{
    border-top-color: #e53935;
    background: rgba(0,0,0,0.05);
}
.contentUp .plain-box li{
    height: 300px;
    width: 230px;
    padding-top: 39px;
    border-top: 1px solid;
    text-align: center;
    background: #fafafa;
    transition: all .6s;
    float: left;
    margin: 0 10px 0 0;
}
.contentUp .plain-box .box-bd .bd-left .time-title{
    font-size: 21px;
    color: #ef3a3b;
    padding-top: 15px;
}
.contentUp .plain-box .box-bd .bd-left img{
    margin: 25px auto;
}
.contentUp .plain-box .box-bd .bd-left .sub{
    color: rgba(0,0,0,0.54);
    font-size: 15px;
}
.contentUp .plain-box .box-bd .bd-left .countdown{
    width: 168px;
    margin: 28px auto 0;
    font-size: 26px;
}
.contentUp .plain-box .box-bd .bd-left .countdown span{
    color: #fff;
    width: 46px;
    height: 46px;
    line-height: 46px;
    background: #605751;
    display: inline-block;
    margin: 0 2px;
}
.contentUp .plain-box .box-bd .more-box{
    height: 340px;
    overflow: hidden;
}
.contentUp .plain-box .box-bd .more-box .xm-flashPurchase-list1{
    position: absolute;
    right: -10px;
    width: 968px;
    margin-left: 0;
    transition: margin-left 0.5s ease;
}
.contentUp .plain-box .box-bd .more-box .xm-flashPurchase-list2{
    position: absolute;
    right: -10px;
    width: 968px;
    margin-left: 0;
    transition: margin-left 0.5s ease;
    display: none;
}
.contentUp .plain-box .box-bd .more-box .xm-flashPurchase-list2.active{
    display: block;
}
.contentUp .plain-box .box-bd ul li{
    position: relative;
}
.contentUp .plain-box .box-bd ul a .a-bg{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#05000000", endColorstr="#05000000")\9;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.contentUp .plain-box .box-bd .content .thumb{
    display: block;
    width: 160px;
    margin: 0 auto 22px;
}
.contentUp .plain-box .box-bd .content .thumb img{
    width: 160px;
    height: 160px;
}
.contentUp .plain-box .box-bd .content .title{
    margin: 0 20px 3px;
    font-size: 14px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.contentUp .plain-box .box-bd .content .title a{
    color: #212121;
}
.contentUp .plain-box .box-bd .content .desc{
    height: 18px;
    margin: 0 20px 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    color: #b0b0b0;
}
.contentUp .plain-box .box-bd .content .price{
    color: #ff6700;
}
.contentUp .plain-box .box-bd .content .price del{
    color: #b0b0b0;
}
/*footer*/
.footer .footer-T{
    height: 20px;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.footer .footer-T .list-service li{
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.footer .footer-T .list-service li:first-child{
    border-left: 0;
}
.footer .footer-T .list-service li a{
    color: #616161;
    font-size: 18px;
}
.footer .footer-T .list-service li a:hover{
    color: #ff6700;
}
.footer .footer-B{
    padding: 40px 0;
    height: 112px;
}
.footer .footer-B .col-Links{
    float: left;
    width: 158px;
    height: 112px;
    margin: 0;
}
.footer .footer-B .col-Links dt{
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.footer .footer-B .col-Links dd{
    margin: 10px 0 0;
    font-size: 12px;
}
.footer .footer-B .col-Links a{
    color: #757575;
}
.footer .footer-B .col-contact{
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}
.footer .footer-B .col-contact .phone{
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.footer .footer-B .col-contact p{
    margin: 0 0 16px;
    font-size: 12px;
}
.footer .footer-B .col-contact .keFu{
    display: inline-block;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    background: #fff;
    color: #ff6700;
    text-align: center;
    border: 1px solid #ff6700;
}
/*foot-info*/
.foot-info{
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}
.foot-info .info-top{
    width: 100%;
    height: 77px;
    padding-bottom: 20px;
}
.foot-info .foot-logo{
    float: left;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    background: url(../images/mi-logo.png) no-repeat 50% 50%;
    background-size: 57px;
    background-color: #ff6900;
}
.foot-info .info-text{
    width: 706px;
    float: left;
}
.foot-info .info-text a{
    color: #757575;
}
.foot-info .info-text a:hover{
    color: #ff6700;
}
.foot-info .info-text p{
    display: inline-block;
    margin: 0;
    line-height: 18px;
    color: #b0b0b0;
}
.foot-info .info-links {
    float: right;
    _display: inline;
    height: 28px;
    margin: 4px 0 0;
}
.foot-info .info-links img{
    width: 80px;
    height: 28px;
}
.foot-info .foot-photo{
    width: 100%;
    height: 20px;
    background: url("../images/foot-info.png") no-repeat center center;
    background-size: 276px 19px;
}
/*suspend*/
.suspend{
    position: fixed;
    right: 0;
    top: 50%;
    width: 84px;
    height: 380px;
    margin-top: -160px;
}
.suspend ul{
    width: 84px;
    height: 290px;
}
.suspend ul li{
    position: relative;
    display: block;
    width: 82px;
    height: 90px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-top: none;
    text-align: center;
}
.suspend a{
    margin: 8px 0 0 0;
    color: #757575;
    font-size: 14px;
}
.suspend ul li a .sus-i1{
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    padding-top: 20px;
    background: url("../images/mine.png")no-repeat bottom;
    background-size: 30px;
}
.suspend ul li a .sus-i2{
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    padding-top: 20px;
    background: url("../images/cusrevice.png")no-repeat bottom;
    background-size: 30px;
}
.suspend ul li a .sus-i3{
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    padding-top: 20px;
    background: url("../images/shopCar.png")no-repeat bottom;
    background-size: 30px;
}
.suspend .goTop{
    width: 82px;
    height: 90px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    text-align: center;
    display: none;
}
.suspend .goTop .sus-i4{
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
    padding-top: 20px;
    background: url("../images/top.png")no-repeat bottom;
    background-size: 30px;
}
.suspend .goTop:hover .sus-i4{
    background: url("../images/top1.png")no-repeat bottom;
    background-size: 30px;
}
.suspend a:hover{
    color: #ff6700;
}
.suspend ul li a:hover .sus-i1{
    background: url("../images/mine1.png")no-repeat bottom;
    background-size: 30px;
}
.suspend ul li a:hover .sus-i2{
    background: url("../images/cusrevice1.png")no-repeat bottom;
    background-size: 30px;
}
.suspend ul li a:hover .sus-i3{
    background: url("../images/shopCar1.png")no-repeat bottom;
    background-size: 30px;
}